tests.txt
/Sistema Robot - Equipo D/build/
Sistema Robot - Equipo D/nbproject/build-impl.xml
Sistema Robot - Equipo D/nbproject/build-impl.xml
Sistema Robot - Equipo D/nbproject/genfiles.properties
Sistema Robot - Equipo D/nbproject/private/private.properties
Sistema Robot - Equipo D/nbproject/private/private.xml
Sistema Robot - Equipo D/nbproject/project.properties
Sistema Robot - Equipo D/nbproject/project.xml
